

*{
	box-sizing: border-box;
	scroll-behavior: smooth;

	margin: 0px;
    padding: 0px;

}


 :root {
 	--colr1: #D86584
 }
	body {
	margin: 0;
	font-family : 'Times New Roman', Times, serif;

	}
	header{
		position: fixed;
		position: relative;
		top: 0%;
		left: 0%;
		padding: 20px 10px;
		width: 100%;
		z-index: 1;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		transition: 0.5s;
		background-color: #0c313f;
		height: 60px;
	}
	.logo{
		color: #fff;
		font-weight: bold;
		font-size: 2em;
		text-decoration: none;
	}
	.logo span{
		color: #fb911f;
	}

	.navbar{
		display: flex;
		position: relative;

	}
	.navbar li{
		list-style: none;
		margin-top: 10px;
	}
	.navbar a{
		color: #fff;
		text-decoration: none;
		margin-left: 30px;
		font-weight: 700;

	}
	.btn-reserve{
		padding: 10px 20px;
		background: #fb911f;

	   text-transform:uppercase ;
	}
	header .navbar li a:hover{
		color: #fb911f;
		border-bottom: 2px solid #fb911f;
	}
	header.sticky{
		background: #fff;
		padding: 10px 10px;
		box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
	}

	header.sticky .logo{
		color: #000;
	}

	header.sticky .navbar li a {
		color: #000;
	}

	header.sticky li a:hover{
		color: #fb911f;
		border-bottom: 2px solid #fb911f;
	}
	.txt{
		position: absolute;
		/*color: #fff;  */
		letter-spacing: 2px;
		line-height: 35px;
		top: 10%;
		left: 15%;
		-webkit-animation-name: posi;
		  -webkit-animation-duration: 2s;
		  animation-name: posi;
		  animation-duration: 2s;
		z-index: 1;

	}

	.contact{
		background-image: url('images/fonddfff.png');
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 2px 2px 12px rgba(0,0,0, 0.8);
		width: 100%;
		background-position: unset;
		/*display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 40px;

		background-size: cover;
		box-shadow: 2px 2px 12px rgba(0,0,0, 0.8);
		width: 100%;
		background-position: unset;
		position: relative; */
	}
	.co60{
		border-radius: 14px;
background: #5e91c0;
box-shadow:  50px 50px 56px #35516c,
             -50px -50px 56px #87d1ff;
	}
	.contactform{
		/*padding: 75px 50px;
		background: #fff;
		box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
		max-width: 500px;
		margin-top: 50px;
		justify-content: center;
		align-items: center;
		margin-left: 20%; */

		width: 90%;
		margin: 20px;
		background: #fff;
		display: flex;
		box-shadow: 5px 15px 50px rgba(0,0,0, 0.8);
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;

	}
form{
width:100%;
}
	.contactform .inputboite{
		position: relative;
		width:350px;
		margin-bottom: 20px;
	}

	.contactform h3{
		color: #111;
		font-size: 1.2em;
		margin-bottom: 20px;
	}
	.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formulaire{
border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.titre-texte{
		color: #000;
		font-size: 2em;
		font-weight: 300px;
		text-transform: capitalize;

	}

.titre-texte span{
		color: #fb911f;
		font-size: 1.5em;
		font-weight: 700px;
	}
.contactform .inputboite input[type="submit"]{
    width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none ;
  border-radius: 4px;
  cursor: pointer;
}
.contact .titre-text span{
    color: #fb911f;
    font-size: 2em;
}

  @media (max-width: 991px) {
	header,
	header.sticky{
		padding: 10px 20px;
	}


}
.titre-texte {

    font-size: 25px;
    font-weight: 900;

}
	.col60apro{
		width: 100%;
	}
	div.bareverticall{
		height: 0px;
		width: 0px;
		background-color: none;
		margin-right: 0px;
	}
	iframe{
		width: 100%;
		height: 445px;
		border: none;
	}
	.col60{
		width: 100%;
	}

	header .navbar li{
		margin-left: 0px;
	}

	header .navbar li a {
		text-decoration: none;
		color: White;
		font-size: 1.6em;
		font-weight: 300;
	}

	.navbar{
		display: none;
	}
	section{
		padding:0px;
	}

	header .navbar.active{
		width: 100%;
		height: calc(100% -68px);
		position: fixed;
		top: 68px;
		left:0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background:#1C3350;
		align-items: center;
	}

	.menuToggle{
		position: relative;
		width: 40px;
		height: 40px;
		background-image: url(./images/menu.png);
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		background-size: 30px;
		border-color:white;
		color:white;

	}

	.menuToggle.active
	{
		background-image: url(./images/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-origin: center;



	}
	.logo{
			color: #fff;
			font-weight: bold;
			font-size: 1.2em;
			text-decoration: none;
			margin-left: 0px;
		}

	header.sticky .menuToggle{
		filter: invert(1);

	}

	}
	@media (max-width: 480px)
	{
.contactform .inputboite{
		width:250px;
		margin-bottom: 8px;
	}
		.contactform{
		justify-content: center;
		align-items: center;
		margin: 0px;
		margin-left:auto;
		margin-right: auto;
		width: 100%;
		padding: 4px;
		}


		}