*{
	box-sizing: border-box;
	scroll-behavior: smooth;

	margin: 0px;
    padding: 0px;
}


 :root {
 	--colr1: #D86584
 }
	body {
	margin: 0;
	font-family : 'Times New Roman', Times, serif;

	}
	header{
		position: fixed;
		position: relative;
		top: 0%;
		left: 0%;
		padding: 20px 10px;
		width: 100%;
		z-index: 1;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		transition: 0.5s;
		background-color: #0c313f;
		height: 60px;
}



.introd{
	background : url("images/bandeautrans.png") no-repeat center/100% 100%,url("images/cross plateform.jpg") no-repeat center/cover;
	height: 500px;
	}

	.introd .contentIntro{
		align-self: center;
		padding-top: 30px;
	}
	.introd h2{
		text-align: center;
		color: white;
		font-size: 25px;
	}
	.introd p{
		text-align: center;
		color: white;
		font-size: 20px;
	}
	.logo{
		color: #fff;
		font-weight: bold;
		font-size: 2em;
		text-decoration: none;
	}
	.logo span{
		color: #fb911f;
	}

	.navbar{
		display: flex;
		position: relative;
	}
	.navbar li{
		list-style: none;
	}
	.navbar a{
		color: #fff;
		text-decoration: none;
		margin-left: 30px;
		font-weight: 700;
	}
	.btn-reserve{
		padding: 10px 20px;
		background: #fb911f;
	   margin-top: -10px;
	   text-transform:uppercase ;
	}
	header .navbar li a:hover{
		color: #fb911f;
		border-bottom: 2px solid #fb911f;
	}
	header.sticky{
		background: #1C3350;
		padding: 10px 10px;
		box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
	}

	header.sticky .logo{
		color: #000;
	}

	header.sticky .navbar li a {
		color: #000;
	}

	header.sticky li a:hover{
		color: #fb911f;
		border-bottom: 2px solid #fb911f;
	}
	iframe{
		width: 100%;
		height: 200px;
		border: none;
	}

.sect{

    height: 50px;
}
.titr1{
	color: white;
}
.Section1{
	background:linear-gradient(to top, rgb(237, 240, 63), rgb(241, 241, 215));
	border-top:5px solid #07adb9;
	text-align: center;

	height:100px;

	display: flex;
	flex-direction: row;
	overflow: auto;
}
.txtSection1{
	text-align: center;
	color: #000000;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.5em;

}
.OO{
background:linear-gradient(to top, rgb(237, 240, 63), rgb(241, 241, 215));
height:100px;
}
.nav{
	width: 100%;
	background-color: #673d87;

}



.row{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .col50{
	position: relative;
	width: 48%;
	justify-content: center;
	align-items: center;

}

.row .col50 h2{
	margin-bottom: 20px;
}

.titre-texte{
	color: #000;
	font-size: 1.2em;
	font-weight: 300px;
	font-style: italic;
	text-transform: capitalize;

}

.titre-texte span{
	color: #fb911f;
	font-size: 1.5em;
	font-weight: 700px;
}

.row .col50 img{
	height: 450px;
	width: 600px;
	position: relative;
}
.img2{
	height: 450px;
	width: 440px;
	position: relative;
}

.col50 .img2 img{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 420px;
	object-fit: cover;
}
.Section2{
    background-color: #01b288;
	border-top:5px solid #07adb9;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: auto;
}
.interm{
	background-color: #254250;

	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;

	overflow: auto;


}
.interm .txtInterm{
	padding-bottom: 30px;
}
.SectionProjet{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background-color:#673de5;*/
	background-color: #254250;
	overflow: auto;

}
.SectionProjet h2{
	color: rgb(10, 56, 16);
	padding-left: 40px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col40{
	width: 40%;

}
.boxcol40{
	width: 40%;


}
.col60{
	width: 60%;
	padding-left: 16px;

}
.float-right{
	float: right;
}
.float-left{
	float: left;
}

/*div.pavecligneverti{
	border-left: 5px solid #a14b4b;
	padding-left: 8px;
	height: 50px;
	display: inline-block;
} */
div.pavecligneverti p{
	margin-top: 0px;
	font-size: 22px;
	padding-left: 40px;
	text-align: justify;
	color: white;
}

div.bareverticall{
	height: 50px;
	width: 4px;
	background-color: #a14b4b;
	margin-right: 8px;
}
.Section2 h2{
	text-align: center;
	color: white;



}
.Section2 p{
	color: white;
	text-align: center;
}
.separ{
	background-color: #000000;
	height: 10px;
}
div.separateur{
	background-color: #e3dde7;
	height: 3px;
	width: 150px;
	position: relative;
	left: 50%;
	margin-left: -75px;
}



.col60GF{
	width: 55%;
}





.colPortfolio{
	width: 48%;
}


.imgsectGF2{
	padding-top: 100px;
	margin-left: 10px;
	width: 30%;
}

.section3{
    background-color: #01b288;
    border-top: 0px;
	overflow: auto;
}
.sectionGF{
	background-color: #01b288;
	border-top:5px solid #c9cc20;
    border-top: 0px;
	display: block;
	overflow: auto;
}
.imgsect3{
	margin-left: 40px;
	width: 40%;
}
.imgsectGF{
	margin-left: 40px;
	width: 40%;
}
.section4{
    background-color: #01cc9d;
    border-top: 0px;
	border-top:5px solid #c9cc20;
}

.tabl{
	height: 400px;

}
.section5{
	background : url("images/transpar2.png") no-repeat center/100% 100%,url('images/img2.jpg') no-repeat center/cover;
	background-repeat: no-repeat;
	background-size: cover;
    border-top: 0px;
	text-align: center;
}
.section6{
    background-color: #70b3c4;
    height: 100px;
    border-top: 0px;

}
.sectionET{

    border-top: 0px;
	overflow: auto;
	display: block;

}
.textSect{
	margin-left: 10px;
	width: 20%;
	text-align: right;
}
.col60E{
	width: 8%;
}
div.paveclignevertiE{
	border-left: 5px solid #a14b4b;
	padding-left: 8px;
	height: 50px;
	display: inline-block;
}
div.paveclignevertiE p{
	margin-top: 0px;

}


/* For mobile phones: */
/* For mobile phones: */
@media only screen and (max-width: 768px) {
	.content>img {
		width: 100%;

		height : 500px;
	}
	iframe{
		height: 945px;
	}
	.row .col50{
		width: 100%;
	}
	.col60{
		width: 100%;
	}
	.col40{
		width: 100%;
	}
	.right,
	.left{
		position:absolute;
		top:250px;
		font-size:5rem;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.right{
		right:20px;
	}



  }
  .SectionDesign{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*background-color:#673de5;*/
	background-color: #f9f9f9;

  }




  @media (max-width: 991px) {
	header,
	header.sticky{
		padding: 10px 20px;
	}
	html {

    -webkit-text-size-adjust: 100%;

}
	body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
section {
    padding: 0px;
}

	header .navbar li{
		margin-left: 0px;
		margin-bottom: 25;
	}
	iframe{
		height: 445px;
	}
	header .navbar li a {
		text-decoration: none;
		color: White;
		font-size: 1.6em;
		font-weight: 300;
	}

	.navbar{
		display: none;
	}


	header .navbar.active{
		width: 100%;
		height: calc(100% -68px);
		position: fixed;
		top: 68px;
		left:0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background:#1C3350;
		align-items: center;
	}

	.menuToggle{
		position: relative;
		width: 40px;
		height: 40px;
		background-image: url(images/menu.png);
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		background-size: 30px;
	}

	.menuToggle.active
	{
		background-image: url(images/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-origin: center;


	}

	}
	header.sticky .menuToggle{
		filter: invert(1);
	}


	.banniere .contenu h2{
		font-size: 2em;
	}

	.row .col50 img{
		margin-left: 18%;
	}

	.contenu p:nth-child(2){
		font-size: 1.2em;
	}


	.row{
		display: flex;
		flex-direction: column;
	}


		.row .col50 {
			position: relative;
			width: 100%;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;

		}
		.col60{

	padding-left: 1px;

}

		.row{
			flex-direction: column;
		}


	@media (max-width: 480px)
	{
		.banniere .contenu h2{
			font-size: 2.2em;
			color: #fff;
		}

		.titre-text{
			color: #000;
			font-size: 2rem;
			font-weight: 300;
			text-transform: capitalize;
		}
		.logo{
			color: #fff;
			font-weight: bold;
			font-size: 1.2em;
			text-decoration: none;
			margin-left: 0px;
		}
		.SectionProjet{
			padding-left: 4px;
			padding-right: 4px;
			padding-top: 3px;
			padding-bottom: 3px;

		}
	.float-right{
		padding-left: 0px;
		padding-right: 0px;
	}
	div.pavecligneverti p{
		padding-left: 2px;
		padding-right: 2px;
		padding-bottom: 15px;
	}
	iframe{
		width: 100%;
		height: 700px;
		border: none;
	}
	.interm{

		padding-left: 4px;
		padding-right: 4px;
		padding-top: 3px;

	}
	.titr1{
color: #01b288;
	}
	section {
    padding: 0px;
}
.titre-p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
	}

