* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
}

.container0 {
  width: 90%;
  margin: 50px auto;
  background-color: #f4f5ff;
}
.heading0 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row0 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card0 {
  width: 26%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.img0 {
    max-width: 100%;
    height: auto;
    display: block;
}
.card0:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card0 {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container0 {
    width: 100%;
  }

  .heading0 {
    padding: 20px;
    font-size: 20px;
  }

  .card0 {
    width: 80%;
  }
}

h2.title {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: 600;
    max-width: 210px;
     color: #fff;
}
h2.title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}




.content0 {
    background: #fff;
    padding: 20px 20px 30px;
}

.content-price {
    position: relative;
    padding: 5px 0 0;
    color: #fff;
}
.price_element_main {
    position: absolute;
    padding: 0;
    text-align: left;
    left: 0;
    top: 15px;
}
.hdev{
background-image: url("images/devap.jpg");
    background-position: 100% 35%;
    background-repeat: no-repeat;
}
.hconc{
 background-image: url("images/hvisu.jpg");
    background-position: 100% 35%;
}
.hrso{
background-image: url("images/hrso.jpg");
    background-position: 100% 35%;
    background-repeat: no-repeat;
}
.hdomo{
background-image: url("images/bandprodomo.jpg");
    background-position: 100% 35%;
    background-repeat: no-repeat;
}
.hmain{
background-image: url("images/hmain.jpg");
    background-position: 100% 35%;
    background-repeat: no-repeat;
}

.bg-crea {
    background-image: url("images/serveur4.jpg");
    background-position: 100% 35%;
    background-repeat: no-repeat;
}
@media (max-width: 767px)
{
    .licard {
        padding-left: 0;

    }
    .flex-element {
        width: 100%;
        max-width: 100%;
        max-width: 450px;
        margin: 0;
    }
   .head.bg-mutu, .bg-crea, .head.bg-vps {
        background-position: 0% 50%;
    }
    .flex-element div.head {
        height: 225px;
    }
    .sub_title, .sub_title {
        max-width: 220px;
    }

}
.head0 {
    height: 220px;
    background-color: #1e499b;
    color: #fff;
    padding: 20px 30px 0;
    text-align: left;
}
.sub_title {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
    max-width: 220px;
     color: #fff;
}

.content-price {
    position: relative;
    padding: 5px 0 0;
    color: #fff;
}
.price_element_main {
    position: absolute;
    padding: 0;
    text-align: left;
    left: 0;
    top: 15px;
}
.price_element_main {
    text-align: center;
    padding-top: 10px;
    font-size: 45px;
    padding: 20px 0 0;
    font-weight: bolder;
}
.triangle {
    width: 100%;
    height: 20px;
    position: relative;
    background: #fff;
}
.content0 {
    background: #fff;
    padding: 20px 20px 30px;
}
@media (max-width: 767px) and (min-width: 450px)
{
   .ulcard {
        width: max-content;
        width: -moz-max-content;
        max-width: 440px;
        display: block;
        margin: auto;
    }

}

.ulcard {
    width: max-content;
    width: -moz-max-content;
    margin: 0 auto 0;
    text-align: left;
    list-style-image: none;
}
 .ulcard {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.licard {
    position: relative;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #4d5163;
    padding-left: 2px;
    margin-bottom: 15px;
}
.licard {
    list-style: none;
}
a.btn.btn-orange {
    margin-top: 15px;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    padding: 7px 30px;
}
a.btn.btn-orange:hover {
    background: #ff7e28;
}
a.btn.btn-orange {
    background: #f60;
    color: #fff!important;
    border-bottom: 2px solid #a54200;
    text-decoration: none!important;
}

a.btn, a.btn-demo, a.btn-banniere, a.btn-cmde, a.btnOrange, a.btn-fixed, a.btn100, a.btn-orange, a.btn-garanti, .contact1 p, .contact1 span {
    font-family: poppins,sans-serif!important;
}
a.btn {
    display: inline-block;
    padding: 6px;
    text-align: center;
    font-family: asap;
    font-size: 22px;
    line-height: 23px;
    text-decoration: none!important;
    cursor: pointer;
}
.content0 a {
    outline: none;
    text-decoration: none;
    color: #f60;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}


@media (max-width: 979px) and (min-width: 768px)
{
    head0.bg-mutu::before, .bg-crea::before,head0.bg-vps::before {
        z-index: 100;
        content: '';
        background-color: #1e499b;
        opacity: .5;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
   div.head0.bg-mutu, head0.bg-crea, div.flex-element div.head0.bg-vps {
        position: relative;
        text-align: center;
        background-size: auto 251px;
        background-position: 100% 0%;
    }
}

@media (max-width: 1200px)
{
    .wrapper0 {
        width: 950px;
    }
}
div.flex-container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container{
    display: flex;
    flex-direction: row;
}
