{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'sticweb/services.css' %}">
    <title>Title</title>
</head>
<body>
	<div class='apropos' id="apropos"  style="padding-bottom: 30px;">

		<img src="{% static 'sticweb/images/servicess.png' %}" class="col40 float-right" style="padding-left: 16px; border-radius: 15px;">
		<div class="col60apro"  style="">
<h2 class="titre-texte" ><span>Shib'ah TIC Conception</span></h2>

				<div class="">


					<p class="titre-p" style="text-align: justify;  padding-right: 10px;; "  > <br>
						Nous sommes une entreprise spécialisée dans la transformation digitale et nous offrons une gamme
						complète de services pour répondre à vos besoins.
						Nous proposons également des solutions personnalisées pour répondre à des besoins spécifiques.
						<br> <span> Contactez-nous dès aujourd'hui pour en savoir plus sur la manière dont
							nous pouvons vous aider à atteindre vos objectifs dans le domaine digital. </span>
					</p>

				</div>
		</div>
		</div>

<div class="apro" >


</div>

	<section class="menu" id="menu" >
		<h2 class="titre-texte" style="color: rgb(14, 13, 13); padding-left: 10px; text-align: center;" >
			<span>N</span>os services</h2>
<p style=" text-align: center;">
	Bénéficiez de l’expertise de Shib'ah TIC Conception
</p>

		<div class="contenu">

			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/cros platfm.png' %}" alt="">
				</div>
				<div class="text">
					<h3>Développement d'application cross plateform</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/cablage_reseau.jpg' %}" alt="">
				</div>
				<div class="text">
					<h3>Réseau</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/cameras-dome-ptz-ip-professionnel-magasin-comerces-.jpg' %}" alt="">
				</div>
				<div class="text">
					<h3>Visiosurveillance</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/domotique.png' %}" alt="">
				</div>
				<div class="text">
					<h3>Domotique</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/tel ip.jpg' %}" alt="">
				</div>
				<div class="text">
					<h3>Télephonie IP</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/pc repa.png' %}" alt="">
				</div>
				<div class="text">
					<h3>Maintenance Informatique</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/formattt.jfif' %}" alt="">
				</div>
				<div class="text">
					<h3>Formation</h3>
				</div>
			</div>
			<div class="box">
				<div class="imbox">
					<img src="{% static 'sticweb/images/electroniq.jpg' %}" alt="">
				</div>
				<div class="text">
					<h3>Electronique embarqué</h3>
				</div>
			</div>
		</div>
	 </div>
	</section>
</body>
</html>