{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'sticweb/test.css' %}">
    <title>Title</title>

</head>
<body>

<section class="PresentStci">
<div class="wrappert">
<div class="bloc-leftt">
<img class="imgt" width="210" height="210" src="{% static 'sticweb/images/logo.jpg' %}" loading="lazy" alt="S" />
</div>
<div class="bloc-rightt">
<div class="contentt">
<p class="txt-yellow pt">Vous aussi devenez partenaire de Shib'ah Tic Conception <span class="hide979"> aujourd'hui.</span></p>
<p class="accroche pt">Nos services englobent tous les aspects de l'informatique et du numérique, du développement de logiciels personnalisés
    à la configuration et au câblage de réseaux, en passant par la conception graphique. </p>
<p class="accroche mt10 pt">Shib'ah Tic Conception est un acteur incontournable
    pour votre développement et votre réussite. Rejoignez-nous dès aujourd'hui et devenez notre partenaire privilégié.</p>
<p class="accroche pt"><a class="colorbox950x710" href="#">En savoir plus</a></p>
</div>
</div>
</div>
</section>
<section class="left-right bg_whitea">
      <div class="wrappera">
      <div class="text bloc-left  ">
      <h3 class="hh3">Un partenaire informatique</h3>
      <p class="contenta ap"> L'histoire du monde est marquée par plusieurs ères, dont l'ère industrielle qui est la plus récente et proche de
						notre époque. Ceux qui n'ont pas réussi à s'adapter à cette époque ont été oubliés par l'histoire.
						Nous sommes maintenant à l'ère de l'information et pour ceux qui veulent rester compétitifs dans cette
						course effrénée, l'adaptation est essentielle. C'est là qu'intervient Shib'ah Tic Conception,
						notre entreprise informatique, qui vous accompagne dans cette  <strong>transition numérique</strong> .
        </p>

      </div>
      <div class="imga">
      <img width="548" height="361" src="{% static 'sticweb/images/apropo.jpg' %}" loading="lazy" alt="" />
      </div>
      </div>
      </section>
</body>
</html>