{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'sticweb/styleindexservices.css' %}">
    <title>Title</title>

</head>
<body>


  <div class="container0">
    <div class="heading0">
      <h1>Nos services</h1>
    </div>
    <div class="row0">
      <div class="card0">
        <div class="flex-element " style="width: 100%; height: 100%;">
            <div class="head0 bg-mutu">
            <h2 class="title">Developpement</h2>
            <p class="sub_title">Nous convevons des pplications sur mesures pour vous pour gerer votre organisation</p>

            </div>
            <div class="triangle">
            <img width="377" height="20" src="{% static 'sticweb/images/triangle_bleu_clair_gris.svg' %}" loading="lazy" alt="" style="display: block;" class="img0">
            </div>
            <div class="content0">
            <ul>
            <li>Des logiciel de gestions</li>
            <li>Des applications mobiles</li>
            <li>Des plateform web</li>
            <li>Système embarqué</li>
            </ul>
            <a class="btn btn-orange" href="#">En savoir plus</a>
            </div>
            </div>
      </div>
      <div class="card0">
        <div class="flex-element " style="width: 100%; height: 100%;">
            <div class="head0 bg-mutu">
            <h2 class="title">Conception de visuel</h2>
            <p class="sub_title">exisez des visuels de qualité au gout du jour</p>

            </div>
            <div class="triangle">
            <img width="377" height="20" src="{% static 'sticweb/images/triangle_bleu_clair_gris.svg' %}" loading="lazy" alt="" style="display: block;" class="img0">
            </div>
            <div class="content0">
            <ul>
            <li>Affiche publicitaire</li>
            <li>Banderole, bache, kakemono</li>
            <li>Carte de mariage, visite,logo</li>
            <li>Montage videos et photos</li>
            </ul>
            <a class="btn btn-orange" href="#">En savoir plus</a>
            </div>
            </div>
      </div>
      <div class="card0">
        <div class="flex-element " style="width: 100%; height: 100%;">
            <div class="head0 bg-mutu">
            <h2 class="title">Réseaux</h2>
            <p class="sub_title">Nos professionel certifié pour vos travaux de reseaux</p>

            </div>
            <div class="triangle">
            <img width="377" height="20" src="{% static 'sticweb/images/triangle_bleu_clair_gris.svg' %}" loading="lazy" alt="" style="display: block;" class="img0">
            </div>
            <div class="content0">
            <ul>
            <li>Cablages reseaux</li>
            <li>Configurations reseaux</li>
            <li>Maintenace d'infrastructure réseaux</li>
            <li>Formation en réseaux</li>
            </ul>
            <a class="btn btn-orange" href="#">En savoir plus</a>
            </div>
            </div>
      </div>
      <div class="card0">
        <div class="flex-element " style="width: 100%; height: 100%;">
            <div class="head0 bg-mutu">
            <h2 class="title">Maintenance</h2>
            <p class="sub_title">Confiez nous la maintenance de votre équippement informatique</p>

            </div>
            <div class="triangle">
            <img width="377" height="20" src="{% static 'sticweb/images/triangle_bleu_clair_gris.svg' %}" loading="lazy" alt="" style="display: block;" class="img0">
            </div>
            <div class="content0">
            <ul>
            <li>Des ordinateurs</li>
            <li>Des telephones mobiles</li>
            <li>Des appareils electro-menager</li>
            <li></li>
            </ul>
            <a class="btn btn-orange" href="#">En savoir plus</a>
            </div>
            </div>
      </div>
        <div class="card0">
        <div class="flex-element " style="width: 100%; height: 100%;">
            <div class="head0 bg-mutu">
            <h2 class="title">Domotique</h2>
            <p class="sub_title">Confiez nous la maintenance de votre équippement informatique</p>

            </div>
            <div class="triangle">
            <img width="377" height="20" src="{% static 'sticweb/images/triangle_bleu_clair_gris.svg' %}" loading="lazy" alt="" style="display: block;" class="img0">
            </div>
            <div class="content0">
            <ul>
            <li>Installation de maison intelligente</li>
            <li>Des camera de surveillance</li>
            <li>Des système d'alarme et de detecteurs</li>
            <li></li>
            </ul>
            <a class="btn btn-orange" href="#">En savoir plus</a>
            </div>
            </div>
      </div>
    </div>
  </div>

</body>
</html>